@import url('https://fonts.googleapis.com/css?family=Open+Sans|Special+Elite&display=swap');

img {
    display: block;
    max-height: 100%;
    max-width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    image-orientation: from-image;
}

.rotate90 {
	-webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotate180 {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

body, html {
	height: 100%;
	margin: 0;
	background-color: #6E503A;
}

h1 {
	margin: 0;
	font-family: 'Special Elite', cursive;
	color: white;
	text-align: center;
}

.intro {
	background-image: url("images/cover-min.png");
	height: 100%; 
	background-size: cover
}

p, ol, ul {
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 18px;
}

p {
	padding: 3%;
}

ol, ul {
	color: #FFE4B5;
}

.soil-type {
	font-weight: bold;
	color: #FFE4B5;
}

.spacer {
	height: 30%;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
 
.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}